<div>
# empecher comportement par defaut "confirm"
 - 2 boulevard carnot (x)
 <input type="hidden" name="steps[][address]" value="2 boulevard carnot">
 <input type="hidden" name="steps[][latitude]" value="2.9832">
 <input type="hidden" name="steps[][longitude]" value="3.2932">
</div>

<div>
  - 2 rue de condé à la madeleine (x)
  <input type="hidden" name="steps[][address]" value="2 rue de condé à la madeleine">
  <input type="hidden" name="steps[][latitude]" value="30">
  <input type="hidden" name="steps[][longitude]" value="40">
</div>
