<div class="container">
    <div class="text-center text-align flex-end">
       <h1>Create your itinerary</h1>
    </div>
  <%= render 'shared/map' %>
  <div class="text-center mt-3"></div>
    <%= render "form", itinerary: @itinerary %>
  </div>
</div>
