<div class="container">
    <div class="text-center text-align flex-end mt-3">
       <h1>Create your itinerary</h1>
    </div>
  <%= render 'shared/map' %>

  <%= render "form", itinerary: @itinerary %>
</div>