// Specific CSS for your home-page
.btn-Home {
  color: white;
  background-color: $green-5;
  border: 1px white;
  box-shadow: 0 0 2px white;
  padding: 10px 26px;
  border-radius: 60px;
  font-weight: lighter;
}
