

<div>
  <div class="justify-content: center" id="map"
     style="height: 200px; width: 100%; margin-top: 20px"
     data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
