.btn-Join {
  color: #FBF3E4;
  background-color: $oil-green;
  border: 1px;
  padding: 8px 24px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 30px;
  opacity: 0.8;
}

.d-flex {
  p {
    margin: 0;
  }
  .btn-Join {
    margin: 0;
  }
}
