.Map {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: asset-url('carte.png');
  height: 29vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
