.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.green-text {
color:$green-5;
}

#navbarSupportedContent1 {
  background-color:transparent ;
}

.navbar-nav {
  background-color: $green-2;
  padding:8px;
  width: 180px;
  height: 160px;
  border-radius: 5% 5% 5% 5%;

}
