.chat {
    // display: none;
    margin-bottom: 20px;
    text-align: center;
    background-color: $green-1;
    line-height: 1.5;
    border-radius: 20px;
    p {
      font-size: 14px;
      font-weight: lighter;
    }
}
.messages {
    margin-top: 5px;
    background-color: $green-2;
    height: 300px;
    padding: 25px;
    text-align: left;
}
.btn-heart{
    border: none;
}
.btn-heart-div{
    text-align: right;
}
